@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using AlloyTraining.Models.ViewModels
@using AlloyTraining.Models.Pages

@model AlloyTraining.Models.Pages.DemoPage
@{ 
    Layout = null;
}
<div>
    @Html.PropertyFor(m => m.Name)
</div>
