@using AlloyTraining.Models.ViewModels
@using AlloyTraining.Models.Pages

@model IPageViewModel<StandardPage>
    @{ 
        Layout = "~/Views/Shared/Layouts/_LeftNavigation.cshtml";
    }

<h1 @Html.EditAttributes(m => m.CurrentPage.MetaTitle)>
    @(Model.CurrentPage.MetaTitle ?? Model.CurrentPage.Name)
</h1>

<div class="row">
    <div class="span8 clearfix">
        @Html.PropertyFor(m => m.CurrentPage.MainBody)
        @Html.PropertyFor(m => m.CurrentPage.Author)
    </div>
</div>
