<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section
			name="episerver.find" type="EPiServer.Find.Configuration, EPiServer.Find" requirePermission="false"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Find" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.4.3.0" newVersion="13.4.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<episerver.find
		serviceUrl="https://demo02.find.episerver.net/GZWKy233XvU6BHzPZkIZRLOvyguOcScA/"
		defaultIndex="quangphoepi_alloyadvancetest"/>
</configuration>