@using AlloyTraining.Models.ViewModels
@using AlloyTraining.Models.Pages
@model  IPageViewModel<SitePageData>

@{ 
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}
<div class="row">
    <div class="span4">
        @Html.Partial("_LeftNavigationMenu", Model)
    </div>
    <div class="span8">
        @RenderBody()
    </div>
</div>
