@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using AlloyTraining.Models.ViewModels
@using AlloyTraining.Models.Pages

@model IPageViewModel<SitePageData>

@{ Layout = "~/Views/Shared/Layouts/_Root.cshtml"; }

<div class="row">
    <div class="span8">
        @RenderBody()
    </div>
    <div class="span4">
        @RenderSection("RelatedContent", required: false)
    </div>
</div>