<?xml version="1.0" encoding="utf-8"?>
<module>
	<clientResources>
		<!-- paths are relative to /ClientResources/ -->
		<add name="epi-cms.widgets.base"
             path="Styles/help-text-icon.css" resourceType="Style"/>
		<!--<add name="epi-cms.widgets.base"
             path="Styles/widen-editors.css" resourceType="Style" />-->
		<add name="epi.shell.ui"
		path="iPhone4/iPhone4.css" resourceType="Style"/>
	</clientResources>
</module>